@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Urbanist", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex {
  display: flex;
}

a,
li {
  list-style: none;
  text-decoration: none;
}

img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

input,
textarea {
  font-size: 16px;
}

.hr_text {
  font-size: 28px;
  font-weight: 700;
  position: relative;
}

.hr_text::after {
  content: "";
  position: absolute;
  inset: 0;
  height: 2px;
  width: 100px;
  background-color: #fab702;
  top: 50px;
}